<!-- templates/element.html.twig -->
<div class="element">
  <i class="fa-solid fa-disease"></i>
  <div class="element-wrapper">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  <i class="fa-solid fa-chevron-down"></i>
  <div class="separator"></div>
</div>
