
<div class="FiltersSidebar">
<div class="filter-container">
    <label for="display">Afficher par:</label>
    <select name="display" id="display">
    <option value="meridian">Méridien</option>
    <option value="symptome">Symptome</option>
    </select>
</div>

<div class="filter-container">
    <label for="caracteristique">Caractéristique:</label>
    <select name="caracteristique" id="caracteristique">
    <option value="tout">Tout</option>
    <option value="plein">Plein</option>
    <option value="chaud">Chaud</option>
    <option value="froid">Froid</option>
    <option value="vide">Vide</option>
    <option value="interne">Interne</option>
    <option value="externe">Externe</option>
    </select>
</div>

<div class="filter-container">
    <label for="type">Type:</label>
    <select name="type" id="type">
    <option value="tout">Tout</option>
    <option value="meridien">Méridien</option>
    <option value="luo">Luo</option>
    <option value="zang">Zang</option>
    <option value="jing_jin">Jing Jin</option>
    <option value="fu">Fu</option>
    <option value="pathologie">Pathologie</option>
    <option value="symptome">Symptome</option>
    </select>
</div>
</div>

<script src="../public/js/filters.js" defer></script>
