<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenMasters</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/x-icon" href="../public/assets/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika+Negative" />
    <script src="../public/js/index.js" defer></script>
</head>
<body>
    {% include 'navbar.html.twig' %}

    <main>
        <div class="container">
            <div class="login">
                <h1>Connexion</h1>
                <form action="../Database/LoginUser.php" method="post">
                    <div class="textbox">
                        <i id="close" class="fa-solid fa-user"></i>
                        <input type="text" id="username" name="username" placeholder="Nom d'utilisateur/email"><br>
                    </div>
        
                    <div class="textbox">
                        <i id="close" class="fa-solid fa-key"></i>
                        <input type="password" id="password" name="password" placeholder="Mot de passe"><br>
                    </div>
        
                    <div class="checkbox-wrapper">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Se souvenir de moi</label>
                    </div>
        
                    <input type="submit" value="Se connecter">
                </form>
            </div>

            <div class="register">
                <h1>Inscription</h1>
                <form action="../Database/RegisterUser.php" method="post">
                    <div class="textbox">
                        <i id="close" class="fa-solid fa-user"></i>
                        <input type="text" id="new_username" name="new_username" placeholder="Nouveau nom d'utilisateur"><br>
                    </div>
        
                    <div class="textbox">
                        <i id="close" class="fa-solid fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Adresse email">
                    </div>
        
                    <div class="textbox">
                        <i id="close" class="fa-solid fa-key"></i>
                        <input type="password" id="new_password" name="new_password" placeholder="Nouveau mot de passe"><br>
                    </div>

                    <div class="textbox">
                        <i id="close" class="fa-solid fa-key"></i>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmer le mot de passe"><br>
                    </div>
        
                    <input type="submit" value="S'inscrire">
                </form>
            </div>
        </div>
    </main>

    <div class="bg">
        <img src="../public/assets/masks/mask1.png" alt="">
        <img src="../public/assets/masks/mask2.png" alt="">
        <img src="../public/assets/masks/mask3.png" alt="">
        <img src="../public/assets/masks/mask4.png" alt="">
        <img src="../public/assets/masks/mask5.png" alt="">
    </div>
</body>
</html>
