<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | ZenMasters</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/x-icon" href="../public/assets/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Signika+Negative"
    />
    <script src="../public/js/search.js" defer></script>
</head>
<body>
    {% include 'navbar.html.twig' with { 'loggedin': loggedin } %}

    <main>

      <div class="searchbar">
        <i id="close" class="fa-solid fa-search"></i>
        <input type="text" name="searchbar" id="searchbar" placeholder="Rechercher">

      </div>
      
      {% if loggedin == true %}
        {% include 'filters.html.twig' %}
      {% endif %}
      
      <div class="table">
        {% for element in elements %}
          {% include 'element.html.twig' with {'title': element.meridian_name, 'description': element.meridian_description} %}
        {% endfor %}
      </div>

      <template id="elementTemplate">
        {% include 'element.html.twig' with {'title': 'template_title', 'description': 'template_title'} %}
      </template>
    </main>

    <div class="bg">
      <img src="public/assets/masks/mask1.png" alt="Branche de d'arbre avec fleurs blanches 1">
      <img src="public/assets/masks/mask2.png" alt="Branche de d'arbre avec fleurs blanches 2">
      <img src="public/assets/masks/mask3.png" alt="Branche de d'arbre avec fleurs blanches 3">
      <img src="public/assets/masks/mask4.png" alt="Branche de d'arbre avec fleurs blanches 4">
      <img src="public/assets/masks/mask5.png" alt="Branche de d'arbre avec fleurs blanches 5">
    </div>
    
</body>
</html>