<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique en ligne</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/shop.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika+Negative" />    
    <script src="../public/js/shop.js" defer></script>
</head>

<body>
    {% include 'navbar.html.twig' with { 'loggedin': loggedin } %}
 
    <main>
        <div class = "searchbar">
            <i id = "close" class="fa-solid fa-search"></i>
            <input type = "text" name = "searchbar" id = "searchbar" placeholder = "Rechercher">
        </div>

        <div class = "modal" id = "modal">
            <div class = "modal-content">
                <span class = "close">&times;</span>
                <div class = "modal-left">
                    <img src = "" alt = "" id = "modal-image">
                </div>
                <div class = "modal-right">
                    <h2 id = "modal-title"></h2>
                    <p class = "price" id = "modal-price"></p>
                    <a target = 'blank' href = "#" class = "modal-button">Acheter maintenant</a>
                </div>
            </div>
        </div>

        <div class="product-grid">
            {% for element in elements %}
                {% include 'product.html.twig' with { 'title': element.title, 'image': element.image, 'id': element.id } %}
            {% endfor %}
        </div>
        <template id="productTemplate">
            {% include 'product.html.twig' with { 'title': 'template_title', 'image': 'template_image', 'id': 'template_id' } %}
        </template>
    </main>

    <div class="bg">
        <img src="public/assets/masks/mask1.png" alt="Branche de d'arbre avec fleurs blanches 1">
        <img src="public/assets/masks/mask2.png" alt="Branche de d'arbre avec fleurs blanches 2">
        <img src="public/assets/masks/mask3.png" alt="Branche de d'arbre avec fleurs blanches 3">
        <img src="public/assets/masks/mask4.png" alt="Branche de d'arbre avec fleurs blanches 4">
        <img src="public/assets/masks/mask5.png" alt="Branche de d'arbre avec fleurs blanches 5">
    </div>

</body>
</html>
