main {
  width: 100%;
  height: calc(100svh - 6em);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  z-index: 1;
}

.searchbar {
  background-color: rgba(255, 255, 255, 0.305);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.068);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  gap: 0.5em;
  height: 2em;
  min-width: 75%;
  max-width: 90vw;
}

.searchbar i {
  color: var(--darkgrey);
  margin: 0.5em 0 0.5em 1em;
}

.searchbar input {
  font-size: 1em;
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--darkgrey);
}

.searchbar input::placeholder {
  color: var(--lightgrey);
}

.table {
  min-width: 75%;
  max-width: 90vw;
  height: calc(100% - 7em);
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.305);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.068);
  border-radius: 15px;
}

.table .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 4.5em;
    max-height: 4.5em;
    transition: max-height .4s ease-in-out;
}

.element-header{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 1em 1.5em 1em 1.5em;
}

.element-body{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 5em;
  padding: 0 1.5em 0 1.5em;
}

.element-toggled{
  min-height: 10em;
  max-height: 15em !important;
}

.element-body h2{
  margin: 0;
  width: calc(100% - 6em);
  height: auto;
  font-size: 1.5em;
  color: var(--darkgrey);
}

.element-body p{
  margin: 0;
  text-wrap: wrap;
  width: calc(100% - 6em);
  color: var(--lightgrey);
  white-space: pre-wrap;
}

.element-body .meridian-element{
  position: absolute;
  top: 0;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4em;
  gap: .5em;
}

.meridian-element h3{
  margin: 0;
  color: var(--darkgrey);
}

.meridian-element span{
  width: 3em;
  height: 3em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 100%;
}

.element .element-wrapper{
    flex: 1;
    overflow-x: hidden;
}

.element i:first-child{
    font-size: 2.5em;
    color: var(--darkgrey);
}

.element i:last-child{
    font-size: 1em;
    color: var(--darkgrey);
}

.element h1, .element p{
    margin: 0;
}

.element h1{
    font-size: 1.3em;
    color: var(--darkgrey);
}

.FiltersSidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 75%;
  max-width: 90vw;
  gap: 2em;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

label {
  display: flex;
  flex-direction: row;
  gap: 2em;
  z-index: 3;
  font-size: 1em;
}

select {
  background: rgba(255, 255, 255, 0.305);
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  font-size: 1em;
  padding: .4em .2em .4em .2em;
}

select::-ms-expand {
  display: none;
}

@media screen and (max-width: 768px) {

  .FiltersSidebar {
    flex-direction: column;
    align-items: center;
    gap: .5em;
  }
  
}
