* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Signika Negative";
  /* Exemple definition de couleur globale
      --gold: #ffd401;
      */
    --darkgrey: rgb(75, 75, 75);
    --lightgrey: rgb(192, 192, 192);
    --bg-color: #f3f3f3;
}

body {
  width: 100vw;
  height: 100svh;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

nav .nav-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.657),
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(black, transparent);
}

nav img {
  height: 60%;
  z-index: 3;
  transform: rotate(180deg);
}

nav .title-wrapper {
  display: flex;
  flex-direction: row;
  filter: invert();
  z-index: 3;
}

nav .title-wrapper h1 {
  font-size: 2em;
  margin: 0;
}

nav .title-wrapper .accent {
  color: white;
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

.bg img{
  position: absolute;
  width: auto;
  height: 120%;
  top: -1.5em;
  transform-origin: top left;
}

.bg img:first-child{
  animation: 4.8s branch infinite ease-in-out;
}

.bg img:nth-child(2){
  animation: 5.1s branch infinite ease-in-out;
}

.bg img:nth-child(3){
  animation: 4.9s branch infinite ease-in-out;
}

.bg img:nth-child(4){
  animation: 5.5s branch infinite ease-in-out;
}

.bg img:last-child{
  animation: 5.3s branch infinite ease-in-out;
}

@keyframes branch {
  0%,100% {
    transform: translateY(10px) rotate(3deg);
  }
  50%{
    transform: translateY(0px) rotate(1deg);
  }
}